@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

@theme {
    --color-primary: #6366F1;
    --color-primary-dull: #4F46E5;
}

h1,
h2,
h3 {
    color: #111827;
    font-weight: 600;
}

p {
    color: #4B5563;
}